* text auto

*.vcproj text eol=crlf 
*.bat text eol=crlf
*.sh text eol=lf

*.doc binary
*.exe binary
*.dll binary
*.lib binary
*.aps binary
*.zip binary
*.rar binary
*.bz2 binary
*.ico binary
*.png binary

