##
## ecompile.cfg: must be in the same directory as ecompile.exe
##

#
# ModuleDirectory: Location of *.em files
#
ModuleDirectory=D:\DistroDev\scripts\modules

#
# IncludeDirectory: Location of *.inc files, if not found relative
#                   or with a specified package
#
IncludeDirectory=D:\DistroDev\scripts

#
# PolScriptRoot: Location of "::file" includes
#
PolScriptRoot=D:\DistroDev\scripts

#
# PackageRoot: root directories where packages are stored
#              This can be specified multiple times.
#
PackageRoot=D:\DistroDev\pkg
PackageRoot=D:\DistroDev\optpkg
PackageRoot=D:\DistroDev\devpkg

#
# Default ecompile options
#

#
# GenerateListing
# Generates *.lst files that contain program counter and
# instyructions being executed at the program counter
# location. Useful for debugging misbehaving scripts.
# Default is 0
#
GenerateListing=0

#
# GenerateDebugInfo
# Directs eCompile to generated a special *.dbg file.
# Default is 0
#
GenerateDebugInfo=0

#
# GenerateDebugTextInfo
# Default is 0
#
GenerateDebugTextInfo=0

#
# VerbosityLevel
# Enabled logging more information such as locations of include files.
VerbosityLevel=0

#
# DisplayWarnings
# Directs eCompile to display warnings such as 'unused variables'.
# Default is 1
#
DisplayWarnings=1

#
# CompileAspPages
# Directs eCompile to compile Active Server Pages
# Default is 1
#
CompileAspPages=1

#
# AutoCompileByDefault
# If set, and you don't pass any script names or use switches -r or -A, will perform an auto compile.
# Default is 1
#
AutoCompileByDefault=1

#
# UpdateOnlyOnAutoCompile
# If set, autocompile will only update modified scripts.
# Default is 1
#
UpdateOnlyOnAutoCompile=1

#
# OnlyCompileUpdatedScripts
# Compile only updated scripts (.src newer than .ecl)
# Default is 1
#
OnlyCompileUpdatedScripts=1

#
# WatchModeByDefault
# Keep ecompile running to re-compile files that have changed.
# Default is 0
#
#WatchModeByDefault=0

#
# DisplaySummary
# Displays overall totals after compilation, unless compilation aborted due to a compile error.
# Default is 1
#
DisplaySummary=1

#
# GenerateDependencyInfo
# Generate .dep files whether or not updating.
# Default is 0
#
GenerateDependencyInfo=1

#
#
# Display the 'xxx/script.ecl is up-to-date' message, or not.
# Default is 0
#
DisplayUpToDateScripts=0

#
# OptimizeObjectMembers
# Default is 1
#
OptimizeObjectMembers=1

#
# ErrorOnWarning
# Treat warnings just like errors.
# Default is 0
#
ErrorOnWarning=0

#
# ThreadedCompilation
# Uses multiple threads to speed up compilation.
# Default is 0
#
ThreadedCompilation=1

#
# NumberOfThreads
# Forces N threads to run, 0 autodetects the used number.
# Default is 0
#
NumberOfThreads=0

#
# ParanoiaWarnings
# Forces eCompile to complain about {} syntax.
# Default is 0
#
ParanoiaWarnings=0

#
# ErrorOnFileCaseMissmatch
# Error when capitalization of include directives is wrong
# On linux due to filename case sensitivity this is always the case
# Default is 0
ErrorOnFileCaseMissmatch=0

#
# EmParseTreeCacheSize
# Number of *.em files to cache (new compiler only)
# Typically this should be high enough to cache all *.em files
# Default is 25
#EmParseTreeCacheSize=25

#
# IncParseTreeCacheSize
# Number of *.inc files to cache (new compiler only)
# Default is 50
#IncParseTreeCacheSize=50

######################
# Formatter settings #
#     (-F / -Fi)     #
######################

# LineWidth
# Default 100
#FormatterLineWidth=100

# keep original keyword spelling
# Default 0
#FormatterKeepKeywords=0

# number of spaces for indent
# Default 2
#FormatterIndentLevel=2

# multiple newlines get merged to a single
# Default 1
#FormatterMergeEmptyLines=1

# space between emtpy parenthesis eg foo() vs foo( )
# Default 0
#FormatterEmptyParenthesisSpacing=0

# space between emtpy brackets eg struct{} vs struct{ }
# Default 0
#FormatterEmptyBracketSpacing=0

# space after/before parenthesis in conditionals
# eg if ( true ) vs if (true)
# Default 1
#FormatterConditionalParenthesisSpacing=1

# space after/before parenthesis
# eg foo( true ) vs foo(true)
# Default 1
#FormatterParenthesisSpacing=1

# space after/before brackets
# eg array{ true } vs array{true}
# Default 1
#FormatterBracketSpacing=1

# no space between type and opening bracket
# eg struct{} vs struct {}
# Default 1
#FormatterBracketAttachToType=1

# add space after delimiter comma or semi in for loops
# eg {1, 2, 3} vs {1,2,3}
# Default 1
#FormatterDelimiterSpacing=1

# add space around assignment
# eg a := 1; vs a:=1;
# Default 1
#FormatterAssignmentSpacing=1

# add space around comparison
# eg a == 1 vs a==1
# Default 1
#FormatterComparisonSpacing=1

# add space before ellipsis (...)
# eg a := 1; vs a:=1;
# Default 1
#FormatterEllipsisSpacing=1

# add space around operations
# eg a + 1 vs a+1
# Default 1
#FormatterOperatorSpacing=1

# use \r\n as newline instead of \n
# Default 1 on windows 0 otherwise
#FormatterWindowsLineEndings=0

# use tabs instead of spaces
# Default 0
#FormatterUseTabs=0

# tab width
# Default 4
#FormatterTabWidth=4

# Insert a newline at end of file if missing
# Default 1
#FormatterInsertNewlineAtEOF=1

# Strip extra space inside comments
# replace tabs with spaces (if UseTabs is off)
# Default 1
#FormatterFormatInsideComments=1

# align trailing comments in a statement eg arrays
# Default 1
#FormatterAlignTrailingComments=1

# short case labels will be contracted to a single line
# Default 1
#FormatterAllowShortCaseLabelsOnASingleLine=1

# short function references will be contracted to a single line
# Default 1
#FormatterAllowShortFuncRefsOnASingleLine=1

# align short case statements, needs FormatterAllowShortCaseLabelsOnASingleLine
# Default 1
#FormatterAlignConsecutiveShortCaseStatements=1
