CMakeFiles
lib*
pol-core
*.tar.gz
compile_commands.json
CPack*
install_manifest*
boost*
cppdap*
*.h
*.h.tmp
*.vcxproj*
.vs
*.sln
docs
x64*
*.db
antlr.dir/
z.dir
tinyxml.dir
format.dir
stackwalk.dir
*ninja*
kaitai.dir
curl
Testing
CTest*
ipch
module_defs
coretest
