CMakeFiles
lib*
pol-core
*.tar.gz
compile_commands.json
CPack*
install_manifest*
boost*
*.h
*.h.tmp
*.vcxproj*
.vs
*.sln
docs
x64*
z.dir
tinyxml.dir
*.db
format.dir
stackwalk.dir
*ninja*
kaitai.dir
curl
Testing
CTest*
ipch
modtbl-pol.cpp
modtbl-runecl.cpp

