/CMakeFiles
/lib*
/pol-core
/*.tar.gz
/compile_commands.json
/CPack*
/install_manifest*
/boost*
/pol_global_config.h
/*.vcxproj*
/.vs
/*.sln
/docs
/x64
/z.dir
/tinyxml.dir
/*.db
/format.dir
/stackwalk.dir
/*ninja*
/kaitai.dir
