#############################################################################
## System methods
#############################################################################
#
# A method script for the Map class. It is consulted for method names the core
# does not know, on every map of the shard - so everything it exports is named
# for this package.
#
# See mapmethod.src, mapmethod_itemdesc.src and test_item_map_method.src.
#

SystemMethod
{
	Map		:TestItems:mapmethod
}
