//#include "afxres.h"
#include "WinResrc.h"
#define IDC_STATIC -1
#include "polresource.h"

LANGUAGE 0x9,0x1
1 11 "../clib/MSG00001.bin"

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_POLTRAY             ICON                    "poltray.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_POPUP MENU 
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Stop",                        ID_POPUP_STOP
    END
END

//         MENUITEM "Show Console",                ID_POPUP_SHOWCONSOLE

IDD_DIALOG1 DIALOG  0, 0, 186, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,129,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,24,50,14
END
