name: ARMbuild

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: "ubuntu-latest"
            cxx-compiler: g++-8
            c-compiler: gcc-8
            build-type: RelWithDebInfo
    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v1
      - uses: uraimo/run-on-arch-action@v1.0.5
        id: runcmd
        with:
          architecture: armv6
          distribution: buster
          run: |
            export
            locale -a
            uname -a
            sudo apt-get update
            sudo apt-get -y install locales
            sudo locale-gen en_US
            sudo locale-gen en_US.UTF-8
            sudo update-locale
            locale -a
            #sudo apt-get install build-essential -y
            #sudo apt-get install g++-8 -y
            #sudo apt-get install cmake libssl-dev -y
            #sudo apt-get install zlib1g-dev -y
            #sudo apt-get install git -y
            #export CXX=g++-8
            #export CC=gcc-8
            #cd bin-build
            #cmake ..
            #cmake --build . --config RelWithDebInfo -- -j 2
            #ctest -j2 --output-on-failure --repeat-until-fail 2 -C RelWithDebInfo
            #cmake --build . --config RelWithDebInfo --target package
            #cmake --build . --config RelWithDebInfo --target create_dbg_zip
            #cd ../bin
            #mkdir release
            #mv *.zip release

      - name: Upload Artefact
        uses: actions/upload-artifact@v1
        with:
          name: Nightly-ARMv6-Buster-gcc-8
          path: bin/release
