name: RunClangTidy

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{matrix.config.name}} Build
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: "ubuntu-latest"
            cxx-compiler: clang++
            c-compiler: clang
            compiler-version: 20
            build-type: RelWithDebInfo
            name: ClangTidy
            tidy-checks: "performance-unnecessary-copy-initialization,performance-unnecessary-value-param"
            #"modernize-use-override"
            #"modernize-use-equals-default"
            #"modernize-use-equals-delete"
            #"modernize-make-shared"
            #"modernize-make-unique"
            #"modernize-use-constraints"
            #"modernize-redundant-void-arg"
            #"modernize-use-emplace"
            #"modernize-use-using"
            #"modernize-concat-nested-namespaces"
            #"readability-container-size-empty"
            #"readability-else-after-return"
            #"performance-unnecessary-copy-initialization"
            #"performance-unnecessary-value-param"


    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: compnerd/gha-setup-vsdevenv@v6
      - name: Cache curl
        uses: actions/cache@v4
        with:
          path: lib/curl-8_14_1
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-curl-8.14.1-2
      - name: Cache antlr
        uses: actions/cache@v4
        with:
          path: lib/antlr-cb85012
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-antlr-cb85012-2
      - name: Cache boost
        uses: actions/cache@v4
        with:
          path: lib/boost_1_89_0
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-boost-1.89.0-1
      - name: Cache cppdap
        uses: actions/cache@v4
        with:
          path: lib/cppdap-82beeea
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-cppdap-82beeea-2

      - name: Install Compiler and Dependencies (Linux)
        shell: pwsh
        run: |
          sudo apt-get update

          $compiler = "${{ matrix.config.cxx-compiler }}"
          $version = "${{ matrix.config.compiler-version }}"

          if ($version -ne 'default') {
            sudo apt-get install "$compiler-$version" -y
          }
          sudo apt-get install libmysqlclient-dev -y
          sudo apt-get install kwstyle -y
          sudo apt-get install uuid-dev -y
          pip install aiosmtpd

          $ninja_version = "1.12.1"
          $cmake_version = "3.31.3"
          $cmake_archive = "cmake-$cmake_version-linux-x86_64"
          wget -q "https://github.com/ninja-build/ninja/releases/download/v$ninja_version/ninja-linux.zip"
          unzip -q ninja-linux.zip -d bin-build
          wget -q "https://github.com/Kitware/CMake/releases/download/v$cmake_version/$cmake_archive.tar.gz"
          tar -xf "$cmake_archive.tar.gz"

          chmod +x bin-build/ninja
          chmod +x "$cmake_archive/bin/cmake"
          echo "$Env:GITHUB_WORKSPACE/bin-build" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$Env:GITHUB_WORKSPACE/$cmake_archive/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Set CXX and CC
        shell: pwsh
        run: |
          $cxx_compiler = '${{ matrix.config.cxx-compiler }}'
          $c_compiler = '${{ matrix.config.c-compiler }}'
          $version = '${{ matrix.config.compiler-version }}'

          if ($version -ne 'default') {
            $cxx_compiler = "$cxx_compiler-$version"
            $c_compiler = "$c_compiler-$version"
          }
          echo "CXX=$cxx_compiler" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "CC=$c_compiler" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Register problem matcher
        run: echo "::add-matcher::.github/problem-matchers/${{ matrix.config.c-compiler }}.json"

      - name: Config
        run: |
          cd bin-build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.config.build-type }} -DENABLE_TIDY=ON -DTIDY_ARGS="-header-filter=.*;-fix;-checks=-*,${{ matrix.config.tidy-checks}}"
      - name: Build
        run: |
          cd bin-build
          cmake --build . --config ${{ matrix.config.build-type }} -- -j 1
      - name: Format
        run: |
          cd bin-build
          cmake --build . --config ${{ matrix.config.build-type }} --target clang_format
      - name: Commit
        run: |
          git config --global user.name 'Clang Tidy'
          git config --global user.email 'clang-tidy@users.noreply.github.com'
          git add pol-core
          git commit -m "Automated clang-tidy change: ${{ matrix.config.tidy-checks }}"
          git push
