name: TidyPRCheck

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{matrix.config.name}} Build
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: "ubuntu-latest"
            cxx-compiler: clang++
            c-compiler: clang
            compiler-version: 20
            build-type: RelWithDebInfo
            tidy-checks: "modernize-use-override,modernize-make-shared,modernize-make-unique,modernize-use-constraints,modernize-use-emplace,modernize-use-equals-default,modernize-use-equals-delete,modernize-use-using,readability-else-after-return,readability-container-size-empty,modernize-concat-nested-namespaces,modernize-redundant-void-arg,performance-unnecessary-copy-initialization"
            name: Linux Clang

    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache curl
        uses: actions/cache@v4
        with:
          path: lib/curl-8_14_1
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-curl-8.14.1-2
      - name: Cache antlr
        uses: actions/cache@v4
        with:
          path: lib/antlr-cb85012
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-antlr-cb85012-2
      - name: Cache boost
        uses: actions/cache@v4
        with:
          path: lib/boost_1_89_0
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-boost-1.89.0-1
      - name: Cache cppdap
        uses: actions/cache@v4
        with:
          path: lib/cppdap-82beeea
          key: ${{ runner.os }}-${{ matrix.config.cxx-compiler }}-${{ matrix.config.compiler-version }}-cppdap-82beeea-2
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Compiler and Dependencies (Linux)
        if: matrix.config.os == 'ubuntu-latest'
        shell: pwsh
        run: |
          sudo apt-get update

          $compiler = "${{ matrix.config.cxx-compiler }}"
          $version = "${{ matrix.config.compiler-version }}"

          if ($version -ne 'default') {
            sudo apt-get install "$compiler-$version" -y
            sudo apt-get install "clang-tidy-$version" -y
          }
          sudo apt-get install libmysqlclient-dev -y
          sudo apt-get install uuid-dev -y

          $ninja_version = "1.12.1"
          $cmake_version = "3.31.3"
          $cmake_archive = "cmake-$cmake_version-linux-x86_64"
          wget -q "https://github.com/ninja-build/ninja/releases/download/v$ninja_version/ninja-linux.zip"
          unzip -q ninja-linux.zip -d bin-build
          wget -q "https://github.com/Kitware/CMake/releases/download/v$cmake_version/$cmake_archive.tar.gz"
          tar -xf "$cmake_archive.tar.gz"

          chmod +x bin-build/ninja
          chmod +x "$cmake_archive/bin/cmake"
          echo "$Env:GITHUB_WORKSPACE/bin-build" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$Env:GITHUB_WORKSPACE/$cmake_archive/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Set CXX and CC
        shell: pwsh
        run: |
          $cxx_compiler = '${{ matrix.config.cxx-compiler }}'
          $c_compiler = '${{ matrix.config.c-compiler }}'
          $version = '${{ matrix.config.compiler-version }}'

          if ($version -ne 'default') {
            $cxx_compiler = "$cxx_compiler-$version"
            $c_compiler = "$c_compiler-$version"
          }
          echo "CXX=$cxx_compiler" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "CC=$c_compiler" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Register problem matcher
        run: echo "::add-matcher::.github/problem-matchers/${{ matrix.config.c-compiler }}.json"

      - name: Config
        run: |
          cd bin-build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.config.build-type }} -DNO_PCH=1
      - name: Prepare externals
        run: |
          cd bin-build
          cmake --build . --target libcurl_ext || true
          cmake --build . --target libantlr_ext || true
          cmake --build . --target libboost_ext || true
          cmake --build . --target libkaitai_ext
          cmake --build . --target libtinyxml
          cmake --build . --target libfmt_ext
          cmake --build . --target libescriptgrammar
          cmake --build . --target libcppdap_ext || true
          cmake --build . --target parse_modules

      - name: Tidy Diff Check
        run: |
          git diff -U0 origin/${{github.event.pull_request.base.ref}}..origin/${{github.head_ref}} | clang-tidy-diff-20.py -checks='-*,${{matrix.config.tidy-checks}}' -p1 -path bin-build
